<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Main page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="container-fluid">
<div class="row">
    <div class="col-md-12">
        <div class="d-flex justify-content-end"><a href="/logout" class="btn btn-info">Выйти</a></div>
        <div class="card" th:if="${currentUser.getRoles().toString() == 'ADMIN' ||
                                   currentUser.getRoles().toString() == 'SUB_ADMIN'}">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Сгенерировать ссылку</h5>
                <div class="link-gen"><span th:text="${generatedLink}"></span></div>
                <div class="d-flex justify-content-between">
                    <form method="POST" action="/link/generate">
                        <button type="submit" class="btn btn-primary">Сгенерировать</button>
                    </form>
                    <a href="/new-user" th:if="${currentUser.getRoles().toString() == 'ADMIN'}">
                        <button type="button" class="btn btn-dark">Добавить нового юзера</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title text-uppercase mb-0">Информация о людях</h5>
            </div>
            <div class="table-responsive">
                <table class="table no-wrap user-table mb-0">
                  <thead>
                    <tr>
                      <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">ФИО</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Адрес</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Почта</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Телефон</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Документ</th>
                      <th scope="col" class="border-0 text-uppercase font-medium">Управление</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr th:each="client,clientStat : ${clients}">
                      <td class="pl-4" th:text="${clientStat.index} + 1"></td>
                      <td>
                          <h5 class="font-medium mb-0" th:text="${client.getFullName()}"></h5>
                      </td>
                      <td>
                          <span class="text-muted" th:text="${client.getAddress()}"></span><br>
                      </td>
                      <td>
                          <span class="text-muted" th:text="${client.getEmail()}"></span><br>
                      </td>
                      <td>
                          <span class="text-muted" th:text="${client.getPhone()}"></span>
                      </td>
                      <td>
                          <span class="text-muted" th:text="${client.getFileLink()}"></span>
                      </td>
                      <td>
                          <span class="text-muted"
                                th:text="${client.getStatus().getTranslate()}"
                                th:class="${(client.getStatus().toString() == 'ACCEPTED' ? 'text-success' : '') +
                                (client.getStatus().toString() == 'REJECTED' ? 'text-danger' : '') +
                                (client.getStatus().toString() == 'PENDING' ? 'text-warning' : '')}"></span>
                      </td>
                      <td>
                          <div class="form-btn">
                              <a th:href="@{/edit/{id}(id=${client.getId()})}"><button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-edit"></i> </button></a>
                              <form th:method="POST" th:action="@{/delete/{id}(id=${client.getId()})}">
                                  <button type="submit" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"><i class="fa fa-trash"></i> </button>
                              </form>
                          </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>

<script type="text/javascript">

</script>
</body>
</html>